streamlit
requests
sqlite3
plotly
pandas
openai
langchain
langchain-community
langchain-google-genai
langchain-openai
google-cloud-aiplatform
beautifulsoup4
selenium
feedparser
python-dotenv
textblob
wordcloud
matplotlib
seaborn
scikit-learn
